<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mysis.project.dao.IMenuDao">
    <select id="selectMenuPermByUserId" resultType="String">
        select m.perms
        from user_role_t ur
            left join role_menu_t rm on rm.role_id = ur.role_id
            left join role_t r on r.role_id = ur.role_id
            left join menu_t m on m.menu_id = rm.menu_id
        where ur.user_id = #{userId} and m.status = '0' and r.status = '0'
    </select>
</mapper>